In [ ]:
scala> spark.version
scala> :type spark
scala> spark.sql("show tables").show
# scala> val df = spark.range(5)
# scala> df.sqlContext.sql("show tables").show
scala> val anotherSession = spark.newSession
scala> anotherSession.range(10).createOrReplaceTempView("new_table")
scala> anotherSession.sql("show tables").show
# scala> df.sqlContext.sql("show tables").show

In [15]:
sc.sql("show tables").show

In [16]:
df = pd.DataFrame({'no':[1,2,3],'name':['agatha','gina','sallie'],'age':[13,45,31]})

In [17]:
df

   no    name  age
0   1  agatha   13
1   2    gina   45
2   3  sallie   31

In [20]:
sdf = sc.createDataFrame(df)

In [21]:
sdf.show()

+---+------+---+
| no|  name|age|
+---+------+---+
|  1|agatha| 13|
|  2|  gina| 45|
|  3|sallie| 31|
+---+------+---+

In [29]:
sdf.alias("sdf").show()

+---+------+---+
| no|  name|age|
+---+------+---+
|  1|agatha| 13|
|  2|  gina| 45|
|  3|sallie| 31|
+---+------+---+

In [27]:
sc.sql("sdf tables").show

ParseException: "\nmismatched input 'sdf' expecting {'(', 'SELECT', 'FROM', 'ADD', 'DESC', 'WITH', 'VALUES', 'CREATE', 'TABLE', 'INSERT', 'DELETE', 'DESCRIBE', 'EXPLAIN', 'SHOW', 'USE', 'DROP', 'ALTER', 'MAP', 'SET', 'RESET', 'START', 'COMMIT', 'ROLLBACK', 'REDUCE', 'REFRESH', 'CLEAR', 'CACHE', 'UNCACHE', 'DFS', 'TRUNCATE', 'ANALYZE', 'LIST', 'REVOKE', 'GRANT', 'LOCK', 'UNLOCK', 'MSCK', 'EXPORT', 'IMPORT', 'LOAD'}(line 1, pos 0)\n\n== SQL ==\nsdf tables\n^^^\n"

In [ ]:
df_pres.alias("President table").select($"pres_id",$"pres_dob".alias("Date Of Birth"),$"pres_bs").show()

In [30]:
df = sc.range(5)

In [34]:
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [33]:
df.collect()

[Row(id=0), Row(id=1), Row(id=2), Row(id=3), Row(id=4)]

In [36]:
df.sql_sc.sql("show tables").show

AttributeError: 'DataFrame' object has no attribute 'sql_sc'

In [5]:
import findspark

findspark.init('/opt/cloudera/parcels/SPARK2/lib/spark2')
import pyspark

from pyspark import SparkContext, SQLContext
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.types import *
from handyspark import *
from pyspark.sql.functions import *

import pickle
import xgboost as xgb
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.metrics import roc_auc_score

from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.model_selection import KFold, train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, mean_squared_error
from sklearn.datasets import load_iris, load_digits, load_boston

import pandas as pd
import seaborn as sns

spark = SparkSession \
    .builder \
    .appName("ovo-flo") \
    .config("spark.kryoserializer.buffer.max", '2040m') \
    .enableHiveSupport() \
    .getOrCreate()

In [6]:
try:
    sc = SparkSession \
                .builder \
                .appName("OVOScore") \
                .config("spark.executor.memory", "30g") \
                .config("spark.driver.memory", "30g") \
                .config("spark.driver.maxResultSize", "3g") \
                .config("spark.driver.allowMultipleContexts", "false") \
                .config('spark.sql.execution.arrow.enabled', 'true') \
                .config("spark.sql.execution.arrow.fallback.enabled", "true") \
                .enableHiveSupport() \
                .getOrCreate()
    sql_sc = SQLContext(sc)
except:
    pass

In [9]:
type (sc)

pyspark.sql.session.SparkSession

In [12]:
type(sql_sc)

pyspark.sql.context.SQLContext

In [3]:
from pyspark import SparkConf
from pyspark import SparkContext, SQLContext
conf = SparkConf() \
    .setAppName("flo_trial")
sc2 = SparkContext(conf=conf)

In [5]:
sc2.pythonVer

'3.6'

In [6]:
sc2.master

'local[*]'

In [7]:
rdd3 = sc2.parallelize(range(100))
rdd4 = sc2.parallelize([("a",["x","y","z"]),
 ("b",["p", "r"])])

In [9]:
rdd3.collect()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [10]:
rdd4.collect()

[('a', ['x', 'y', 'z']), ('b', ['p', 'r'])]

In [12]:
sc2.createDataFrame(rdd4)

AttributeError: 'SparkContext' object has no attribute 'createDataFrame'

# exercise

In [ ]:
import findspark

findspark.init('/opt/cloudera/parcels/SPARK2/lib/spark2')
import pyspark

from pyspark import SparkContext, SQLContext
from pyspark.sql import SparkSession
from pyspark import SparkConf
from pyspark.sql.types import *
from handyspark import *
from pyspark.sql.functions import *

import pickle
import xgboost as xgb
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.metrics import roc_auc_score

from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.model_selection import KFold, train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, mean_squared_error
from sklearn.datasets import load_iris, load_digits, load_boston

import pandas as pd
import seaborn as sns

# spark = SparkSession \
#     .builder \
#     .appName("ovo-flo") \
#     .config("spark.kryoserializer.buffer.max", '2040m') \
#     .enableHiveSupport() \
#     .getOrCreate()

from pandas.io.json import json_normalize
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer
from sklearn.decomposition import PCA
# custom made library
# import viz
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns
pd.set_option('display.max_columns', 500)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

SparkConf().getAll()

from pyspark.ml import Pipeline
from pyspark.ml.regression import GBTRegressor
from pyspark.ml.feature import VectorIndexer
from pyspark.ml.evaluation import RegressionEvaluator

from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

try:
    sc = SparkSession \
                .builder \
                .appName("OVOScore") \
                .config("spark.executor.memory", "30g") \
                .config("spark.driver.memory", "30g") \
                .config("spark.driver.maxResultSize", "3g") \
                .config("spark.driver.allowMultipleContexts", "false") \
                .config('spark.sql.execution.arrow.enabled', 'true') \
                .config("spark.sql.execution.arrow.fallback.enabled", "true") \
                .enableHiveSupport() \
                .getOrCreate()
    sql_sc = SQLContext(sc)
except:
    pass

# write pandas to hive
pdf = pd.DataFrame({'no':[1,2,3],'nama':['gina','gita','anna'],'age':[13,19,90],})
pdf

sdf = sc.createDataFrame(pdf)

sdf.show()

sdf.createOrReplaceTempView("table1")

sc.sql("CREATE TABLE IF NOT EXISTS ovo_social_ds.flo_table1 stored as parquet as select * from table1")

# query hive to pandas
df_flo = sc.sql("""select * from ovo_social_ds.flo_table1""").toPandas()
df_flo

# delete hive table
sc.sql("DROP TABLE IF EXISTS ovo_social_ds.flo_table1")

df_flo = sc.sql("""select * from ovo_social_ds.flo_table1""").toPandas()

# view some table
sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10")

sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10").show()

type(sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10"))

sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10").columns

sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10").count()

sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10").distinct()

sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10").distinct().collect()

sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10").distinct().count()

sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10").drop('merchant_id').show()

sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10").explain()

sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10").describe()

# try sql operations on the queried table from hive?
dummy_sdf = sc.sql("select * from ovo_social_ds.flo_ovo_transaction limit 10")

dummy_sdf.createOrReplaceTempView("table2")

sc.sql("""
select *
from table2
""").show()

sc.sql("""
select merchant_name, sum(trx_amount)
from table2
group by merchant_name
""").show(n=10)

sc.sql("""
select merchant_name, sum(trx_amount)
from table2
group by merchant_name
""").collect()

df.drop('age').collect()